services:
  prometheus:
    image: prom/prometheus:v3.11.2
    container_name: prometheus
    restart: unless-stopped
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --storage.tsdb.retention.time=30d
      - --web.enable-lifecycle
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ${SERVICES_DATA_DIR}/prometheus:/prometheus
    networks:
      - caddy_proxy
      - default
      - metrics_internal
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  caddy_proxy:
    external: true
  metrics_internal:
    external: true
