services:
  radarr:
    image: ghcr.io/hotio/radarr:release-6.1.1.10360
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=501
      - PGID=20
      - UMASK=002
      - TZ=Europe/Budapest
    volumes:
      - ${SERVICES_DATA_DIR}/radarr:/config
      - ${MEDIA_ROOT}:/media
    networks:
      - caddy_proxy
      - default

networks:
  caddy_proxy:
    external: true
