services:
  adguard_home:
    image: adguard/adguardhome:v0.107.73
    container_name: adguard_home
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ${SERVICES_DATA_DIR}/adguard_home/work:/opt/adguardhome/work
      - ${SERVICES_DATA_DIR}/adguard_home/conf:/opt/adguardhome/conf
    networks:
      - caddy_proxy
      - default

networks:
  caddy_proxy:
    external: true
