# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
  UseKeychain yes
  AddKeysToAgent yes

Host homelab-admin
  HostName ${HOMELAB_HOST}
  User admin
  IdentityFile ~/.ssh/id_ed25519_homelab

Host homelab-ops
  HostName ${HOMELAB_HOST}
  User ops
  IdentityFile ~/.ssh/id_ed25519_homelab
